# utilizar la librería Numpy para ejecutar funciones estadísticas descriptivas básicas

# * Importar el archivo “supermarket_sales.csv”

In [94]:
import pandas as pd
import numpy as np
import os

In [106]:
os.chdir ('/Users/xix91/Downloads')
df = pd.read_csv('/Users/xix91/Downloads/supermarket_sales.csv')

In [108]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

# 1.- Generar estadística descriptiva básica en las columnas unit_price y quantity: Cálculo de la media, mediana, moda

In [7]:
unit_price_np = df[['Unit price']].to_numpy()
quantity_np = df[['Quantity']].to_numpy()

In [9]:
media_price = unit_price_np.mean()
media_quantity = quantity_np.mean()

format_m_price = '{:.2f}'.format(media_price)
format_m_quantity = '{:.2f}'.format(media_quantity)

print ('La media de unit price es = ', format_m_price)
print ('La media de quantity es = ', format_m_quantity)       # Media de unit_price y quantity

La media de unit price es =  55.67
La media de quantity es =  5.51

In [11]:
vals1, counts1 = np.unique(unit_price_np, return_counts = True)
index1 = np.argmax(counts1)
moda_price = vals1[index1]

print ('La moda del unit price es = ', moda_price)                 # moda de unit price

La moda del unit price es =  83.77

In [13]:
vals2, counts2 = np.unique(quantity_np, return_counts = True)
index2 = np.argmax(counts2)
moda_quantity = vals1[index2]

print ('La moda del quantity es = ', moda_quantity)                 # moda de quantity

La moda del quantity es =  10.75

In [15]:
mediana_price = np.median (unit_price_np)
mediana_quantity = np.median (quantity_np)

print (f'La mediana de unit price es = {mediana_price:.2f}')
print (f'La mediana de quantity es = {mediana_quantity:.2f}')      # Mediana de unit_price y quantity

La mediana de unit price es = 55.23
La mediana de quantity es = 5.00

# Obtener el ticket promedio:
#1) por ciudad,
#2) por product line y ciudad,
#3) por género,
#4) por género y product line

In [17]:
city_np = df[['City']].to_numpy()
product_np = df[['Product line']].to_numpy()
gender_np = df[['Gender']].to_numpy()
total_np = df[['Total']].to_numpy()

In [19]:
ciudades_u = np.unique(city_np)

for ciudad in ciudades_u:
    ventas_ciudad = total_np[city_np == ciudad]
    p_ventas_ciudad = np.mean(ventas_ciudad)
    print(f'La venta promedio en {ciudad} es {p_ventas_ciudad:.2f}')       # Venta total promedio por ciudad

La venta promedio en Mandalay es 319.87
La venta promedio en Naypyitaw es 337.10
La venta promedio en Yangon es 312.35

In [53]:
city_u = np.unique(city_np)
product_u = np.unique(product_np)

for ciudad in city_u:
    for tipo in product_u:
        ventas = total_np[(city_np == ciudad) & (product_np == tipo)]
        if ventas.size > 0:
            promedio_c_p = np.mean(ventas)
            print(f'Venta promedio en {ciudad} para {tipo}: {promedio_c_p:.2f}')    # Venta total promedio por ciudad y por Product line

Venta promedio en Mandalay para Electronic accessories: 310.03
Venta promedio en Mandalay para Fashion accessories: 264.73
Venta promedio en Mandalay para Food and beverages: 304.30
Venta promedio en Mandalay para Health and beauty: 376.99
Venta promedio en Mandalay para Home and lifestyle: 350.98
Venta promedio en Mandalay para Sports and travel: 322.39
Venta promedio en Naypyitaw para Electronic accessories: 344.89
Venta promedio en Naypyitaw para Fashion accessories: 331.69
Venta promedio en Naypyitaw para Food and beverages: 360.10
Venta promedio en Naypyitaw para Health and beauty: 319.53
Venta promedio en Naypyitaw para Home and lifestyle: 308.79
Venta promedio en Naypyitaw para Sports and travel: 350.27
Venta promedio en Yangon para Electronic accessories: 305.29
Venta promedio en Yangon para Fashion accessories: 320.25
Venta promedio en Yangon para Food and beverages: 295.92
Venta promedio en Yangon para Health and beauty: 268.04
Venta promedio en Yangon para Home and lifestyle: 344.88
Venta promedio en Yangon para Sports and travel: 328.35

In [21]:
gender_u = np.unique(gender_np)

for gender in gender_u:
    ventas_gender = total_np[gender_np == gender]
    p_ventas_gender = np.mean(ventas_gender)
    print(f'La venta promedio por genero {gender} es {p_ventas_gender:.2f}')   # promedio total de venta por genero

La venta promedio por genero Female es 335.10
La venta promedio por genero Male es 310.79

In [23]:
gender_u = np.unique(gender_np)
product_u = np.unique(product_np)

for gender in gender_u:
    for tipo in product_u:
        ventas = total_np[(gender_np == gender) & (product_np == tipo)]
        if ventas.size > 0:
            promedio_g_p = np.mean(ventas)
            print(f'Venta promedio por genero {gender} para {tipo}: {promedio_g_p:.2f}')  # promedio total de venta por genero y por Product line

Venta promedio por genero Female para Electronic accessories: 322.64
Venta promedio por genero Female para Fashion accessories: 317.06
Venta promedio por genero Female para Food and beverages: 368.57
Venta promedio por genero Female para Health and beauty: 290.02
Venta promedio por genero Female para Home and lifestyle: 380.21
Venta promedio por genero Female para Sports and travel: 324.71
Venta promedio por genero Male para Electronic accessories: 316.69
Venta promedio por genero Male para Fashion accessories: 291.08
Venta promedio por genero Male para Food and beverages: 273.50
Venta promedio por genero Male para Health and beauty: 348.10
Venta promedio por genero Male para Home and lifestyle: 294.14
Venta promedio por genero Male para Sports and travel: 340.36

# Usar el método rank para generar top 5 de:
#1) ventas por ciudad,
#2) ventas por member,
#3) ventas por payment.  Obtener además el % de aporte de cada categoría.

In [25]:
df_v_ciudad = df.sort_values(by=['City', 'Total'], ascending=[True, False])

In [29]:
top5_v_ciudad = df_v_ciudad.groupby('City').head(5)

In [31]:
top5_v_ciudad    # Top 5 de ventas por ciudad

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10,48.6850,1022.3850,1/15/2019,13:48,Credit card,973.70,4.761905,48.6850,4.9
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,17:26,Credit card,899.64,4.761905,44.9820,4.2
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5
96,766-85-7061,B,Mandalay,Normal,Male,Health and beauty,87.87,10,43.9350,922.6350,3/29/2019,10:25,Ewallet,878.70,4.761905,43.9350,5.1
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.6500,1042.6500,2/15/2019,14:53,Credit card,993.00,4.761905,49.6500,6.6
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.2600,1034.4600,1/30/2019,20:23,Ewallet,985.20,4.761905,49.2600,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.7500,1023.7500,1/12/2019,16:18,Ewallet,975.00,4.761905,48.7500,8.0
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10,48.6050,1020.7050,2/8/2019,13:00,Credit card,972.10,4.761905,48.6050,8.7
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10,47.7900,1003.5900,1/16/2019,13:32,Cash,955.80,4.761905,47.7900,4.8
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.4900,1039.2900,2/8/2019,16:20,Credit card,989.80,4.761905,49.4900,8.7
429,325-77-6186,A,Yangon,Member,Female,Home and lifestyle,90.65,10,45.3250,951.8250,3/8/2019,10:53,Ewallet,906.50,4.761905,45.3250,7.3
959,384-59-6655,A,Yangon,Member,Female,Food and beverages,98.66,9,44.3970,932.3370,2/19/2019,15:07,Cash,887.94,4.761905,44.3970,8.4
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.3350,931.0350,1/12/2019,14:50,Ewallet,886.70,4.761905,44.3350,7.3
529,827-77-7633,A,Yangon,Normal,Male,Sports and travel,98.09,9,44.1405,926.9505,2/17/2019,19:41,Cash,882.81,4.761905,44.1405,9.3

In [51]:
total_ventas = df['Total'].sum()
ventas_por_ciudad = df.groupby('City')['Total'].sum()

porcentaje_v_ciudad = (ventas_por_ciudad / total_ventas) * 100

print('El Porcentaje de ventas por ciudad es = ', porcentaje_v_ciudad)            # porcentaje de ventas por ciudad

El Porcentaje de ventas por ciudad es =  City
Mandalay     32.881921
Naypyitaw    34.235322
Yangon       32.882757
Name: Total, dtype: float64

In [57]:
df_c_type = df.sort_values(by=['Customer type', 'Total'], ascending=[True, False])
top5_c_type = df_c_type.groupby('Customer type').head(5)

top5_c_type                                # top 5 de ventas mas grandes por customer type

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.650,1042.650,2/15/2019,14:53,Credit card,993.0,4.761905,49.650,6.6
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.260,1034.460,1/30/2019,20:23,Ewallet,985.2,4.761905,49.260,4.5
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10,48.605,1020.705,2/8/2019,13:00,Credit card,972.1,4.761905,48.605,8.7
429,325-77-6186,A,Yangon,Member,Female,Home and lifestyle,90.65,10,45.325,951.825,3/8/2019,10:53,Ewallet,906.5,4.761905,45.325,7.3
141,280-17-4359,C,Naypyitaw,Member,Male,Health and beauty,90.50,10,45.250,950.250,1/25/2019,13:48,Cash,905.0,4.761905,45.250,8.1
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.490,1039.290,2/8/2019,16:20,Credit card,989.8,4.761905,49.490,8.7
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.750,1023.750,1/12/2019,16:18,Ewallet,975.0,4.761905,48.750,8.0
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.690,1022.490,3/2/2019,17:16,Ewallet,973.8,4.761905,48.690,4.4
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10,48.685,1022.385,1/15/2019,13:48,Credit card,973.7,4.761905,48.685,4.9
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10,47.790,1003.590,1/16/2019,13:32,Cash,955.8,4.761905,47.790,4.8

In [59]:
total_ventas = df['Total'].sum()
ventas_c_type = df.groupby('Customer type')['Total'].sum()

porcentaje_c_type = (ventas_c_type/ total_ventas) * 100

print('El Porcentaje de ventas por customer type = ', porcentaje_c_type)            # porcentaje de ventas por ciudad

El Porcentaje de ventas por customer type =  Customer type
Member    50.848406
Normal    49.151594
Name: Total, dtype: float64

In [61]:
df_payment = df.sort_values(by=['Payment', 'Total'], ascending=[True, False])
top5_payment = df_payment.groupby('Payment').head(5)

top5_payment                                         #top 5 de ventas mas grandes por payment

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10,47.7900,1003.5900,1/16/2019,13:32,Cash,955.80,4.761905,47.7900,4.8
357,554-42-2417,C,Naypyitaw,Normal,Female,Sports and travel,95.44,10,47.7200,1002.1200,1/9/2019,13:45,Cash,954.40,4.761905,47.7200,5.2
141,280-17-4359,C,Naypyitaw,Member,Male,Health and beauty,90.50,10,45.2500,950.2500,1/25/2019,13:48,Cash,905.00,4.761905,45.2500,8.1
941,702-83-5291,C,Naypyitaw,Member,Male,Fashion accessories,99.82,9,44.9190,943.2990,3/27/2019,10:43,Cash,898.38,4.761905,44.9190,6.6
611,277-35-5865,C,Naypyitaw,Member,Female,Food and beverages,98.97,9,44.5365,935.2665,3/9/2019,11:23,Cash,890.73,4.761905,44.5365,6.7
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.6500,1042.6500,2/15/2019,14:53,Credit card,993.00,4.761905,49.6500,6.6
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.4900,1039.2900,2/8/2019,16:20,Credit card,989.80,4.761905,49.4900,8.7
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10,48.6850,1022.3850,1/15/2019,13:48,Credit card,973.70,4.761905,48.6850,4.9
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10,48.6050,1020.7050,2/8/2019,13:00,Credit card,972.10,4.761905,48.6050,8.7
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,17:26,Credit card,899.64,4.761905,44.9820,4.2
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.2600,1034.4600,1/30/2019,20:23,Ewallet,985.20,4.761905,49.2600,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.7500,1023.7500,1/12/2019,16:18,Ewallet,975.00,4.761905,48.7500,8.0
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
429,325-77-6186,A,Yangon,Member,Female,Home and lifestyle,90.65,10,45.3250,951.8250,3/8/2019,10:53,Ewallet,906.50,4.761905,45.3250,7.3
435,751-69-0068,C,Naypyitaw,Normal,Male,Sports and travel,99.24,9,44.6580,937.8180,3/19/2019,19:09,Ewallet,893.16,4.761905,44.6580,9.0

In [63]:
total_ventas = df['Total'].sum()
ventas_payment = df.groupby('Payment')['Total'].sum()

porcentaje_payment = (ventas_payment/ total_ventas) * 100

print('El Porcentaje de ventas por Payment = ', porcentaje_payment)       # porcentaje de ventas por payment

El Porcentaje de ventas por Payment =  Payment
Cash           34.742453
Credit card    31.200448
Ewallet        34.057099
Name: Total, dtype: float64

# Cálculo de una matriz de correlación entre la hora (sin minutos) y el total, y otra que correlacione el unit_price con el rating de la transacción, para validar si los productos más caros son los que dejan más margen

In [66]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [110]:
from datetime import datetime

df['Time'] = pd.to_datetime(df['Time'], format='%H:%M')

In [112]:
df['Time'] = df['Time'].dt.hour

In [114]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13,Cash,618.38,4.761905,30.9190,6.6

In [116]:
total_np = df[['Total']].to_numpy()
time_np = df[['Time']].to_numpy()

In [118]:
total_np = np.concatenate (total_np, axis=0)
time_np = np.concatenate (time_np, axis=0)

In [120]:
cor_time_total = np.corrcoef(total_np, time_np)

In [122]:
cor_time_total                               # correlacion ente time y el total

array([[ 1.        , -0.00277044],
       [-0.00277044,  1.        ]])

In [124]:
unit_p_np = df[['Unit price']].to_numpy()
rating_np = df[['Rating']].to_numpy()

In [126]:
unit_p_np = np.concatenate (unit_p_np, axis=0)
rating_np = np.concatenate (rating_np, axis=0)

In [128]:
cor_unit_rating = np.corrcoef(unit_p_np, rating_np)

In [130]:
cor_unit_rating                                    # correlacion entre unite price y rating

array([[ 1.        , -0.00877751],
       [-0.00877751,  1.        ]])